<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}GTA-6 E-Shop - Your Ultimate Gaming Destination{% endblock %}</title>

    <meta name="description" content="{% block description %}Experience the future of gaming retail with our GTA-6 themed e-shop. Browse the latest games with cyberpunk style.{% endblock %}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {% include 'components/_navigation.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% include 'components/_footer.html.twig' %}

    <button class="back-to-top">
        <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg>
    </button>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
